<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul class="devices_list"></ul>
    <button class="on">Turn on</button>
    <button class="off">Turn Off</button>
    <input type="color" class="color" value="#ffffff" />
    <button class="set_color">Set Color</button>
    <br />
    <input class="brightness" type="range" min="0" max="255" value="255" />
    <button class="set_brightness">Set brightness</button>
    <script>
      const devices = {{ devices }};
    </script>
    <script src="./assets/index.js"></script>
  </body>
</html>
